.DS_Store
embongo.log
*.iws
*Db.properties
*Db.script
.settings
.classpath
.project
eclipse
stacktrace.log
.idea
.vscode
*.iml
test-results.xml
target
out
/components
/plugins
/node_modules
/lib
/classes
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
src/js/libs
*.sublime-project
*.sublime-workspace
set-monghq.sh
*.todo
src/test.html
src/ardoq_icon.png
